body {
  background-color: #252836ff;
}

.content {
  display: flex;
  /* justify-content: space-between; */
}

.content__orders {
  position: fixed;
  right: 0;
  width: 100%;
  max-width: 409px;
  padding: 24px;
  background-color: #1f1d2b;
  border-radius: 8px 0 0 8px;
}

.content__resto {
  width: 1010px;
  padding: 104px 38px 0 10px;
}

.content__sidebar {
  width: 105px;
}

.homeFixed {
  position: fixed;
  top: 0px;
  width: 963px;
  padding: 20px 0 0 0;
  background-color: #252836ff;
  z-index: 11;
}
