body {
  background-color: #252836ff;
}

.content {
  display: flex;
}

.contents {
  display: flex;
  justify-content: center;
}

.content__orders {
  position: fixed;
  right: 0;
  width: 100%;
  max-width: 409px;
  padding: 24px;
  background-color: #1f1d2b;
  border-radius: 8px 0 0 8px;
}

.content__resto {
  width: 1010px;
  padding: 0px 38px 0 20px;
}

.homeFixed {
  width: 963px;
  padding: 20px 0 0 0;
  background-color: #252836ff;
  padding-right: 20px;
}
