.dish-list{
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-wrap: wrap;
   margin: 0px;
   padding: 0px;
   list-style: none;
}
.dish-item{
   position: relative;
   width: 100%;
   max-width: 192px;
   background-color: #1F1D2B;
   border-radius: 16px;
   padding: 24px;
   margin-bottom: 58px;
}
.dish-img{
   position: absolute;
   top: -34px;
   left: 15%;
}
.dish-box{
   margin-top: 100px;
   text-align: center;
}
.dish-title{
   font-weight: 500;
   font-size: 14px;
   line-height: 130%;
   text-align: center;
   color: #FFFFFF;
   margin: 0px;
   margin-top: 14px;
   margin-bottom: 8px;
}
.dish-cur{
   font-weight: 400;
   font-size: 14px;
   line-height: 140%;
   text-align: center;
   color: #FFFFFF;
}
.dish-text{
   font-weight: 400;
   font-size: 14px;
   line-height: 140%;
   text-align: center;
   color: #ABBBC2;
   margin: 0px;
   margin-top: 4px;
}