.home__headerBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 22px;
}

.home__headerBox__title {
  font-weight: 600;
  margin: 0 0 4px 0;
  font-size: 28px;
  line-height: 140%;
  color: #fff;
}

.home__headerBox__text {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #b3b7b8;
}

.home__headerBox__inputs {
  padding: 8px 14px 14px 42px;
  width: 220px;
  height: 48px;
  color: #abbbc2;
  background: #2d303e;
  border: 1px solid #393c49;
  border-radius: 8px;
  border: 1px solid #393c49;
  border-radius: 8px !important;
  border: 1px solid #393c49ff;
  outline: none;
}

.home__headerBox__inputs::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #abbbc2 !important;
}

.form__search {
  position: relative;
}

.serach__icon {
  position: absolute;
  left: 10px;
  top: 10px;
}
