.setingpag__content {
  width: 100%;
  padding: 24px;
}
.setingpage__topheader {
  margin-bottom: 24px;
}
.setingpage__section {
  display: flex;
  align-items: flex-start;
}
.setingpage__dishesbox {
  width: 100%;
  max-width: 1150px;
  border-radius: 8px;
  background: #1f1d2b;
}
