.product-header {
  border-bottom: 1px solid #393c49;
}
.ptoductheader-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
}
.product-title {
  margin: 0px;
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  color: #ffffff;
}
.product-btn {
  position: relative;
  padding: 14px 16px 14px 44px;
  border: 1px solid #393c49;
  border-radius: 8px;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  color: #ffffff;
  background-color: #1f1d2b;
}
.product-btn::before {
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("../../assets/images/Option.svg");
  background-repeat: no-repeat;
  background-size: auto;
  left: 16px;
  content: "";
}
.product-list {
  display: flex;
  align-items: center;
  margin: 0px;
  padding: 0px;
  padding: 0px 24px 0px 24px;
  list-style: none;
}
.product-item{
  padding-bottom: 13px;
}
.product-item + .product-item {
  margin-left: 32px;
}
.product-link {
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  color: #ffffff;
}
.product-act {
  position: relative;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  color: #ea7c69;
}
.product-act::before {
  position: absolute;
  width: 37px;
  height: 3px;
  border-radius: 4px;
  background: #ea7c69;
  bottom: -16.5px;
  content: "";
}
