.modal-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  align-items: flex-start;
  justify-content: right;
  background-color: #000000b3;
  z-index: 10;
  transition: 0.2s ease;
}
.modal-content {
  width: 405px;
  padding: 14px 24px 24px 24px;
  border-radius: 16px 16px 0px 16px;
  background-color: #1f1d2b;
  transition: 0.2s ease;
}
.modal-header {
  padding-bottom: 24px;
  border-bottom: 1px solid #393c49;
}
.modal-title {
  font-weight: 600;
  font-size: 28px;
  line-height: 140%;
  color: #ffffff;
  margin: 0px;
}
.modal-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #abbbc2;
  margin: 0px;
  margin-top: 8px;
}
.payme-title {
  margin: 0px;
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  color: #ffffff;
}
.payme-list {
  display: flex;
  align-items: center;
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.payme-item {
  position: relative;
  width: 100%;
  max-width: 101px;
  text-align: center;
  border: 1px solid #abbbc2;
  border-radius: 8px;
  padding: 36px 14px 10px 14px;
}
.payme-item::before {
  position: absolute;
  width: 24px;
  height: 24px;
  background-image: url("../../assets/images/Card.svg");
  background-repeat: no-repeat;
  background-size: auto;
  top: 6px;
  left: 38px;
  content: "";
}
.payme-item:nth-child(2):before {
  position: absolute;
  width: 24px;
  height: 24px;
  background-image: url("../../assets/images/Paypal.svg");
  background-repeat: no-repeat;
  background-size: auto;
  top: 6px;
  left: 38px;
  content: "";
}
.payme-item:nth-child(3):before {
  position: absolute;
  width: 24px;
  height: 24px;
  background-image: url("../../assets/images/Wallet.svg");
  background-repeat: no-repeat;
  background-size: auto;
  top: 6px;
  left: 38px;
  content: "";
}
.payme-item:nth-child(1)::after {
  position: absolute;
  width: 16px;
  height: 16px;
  background-image: url("../../assets/images/checkmark-circle.svg");
  background-repeat: no-repeat;
  background-size: auto;
  top: 4px;
  right: 6px;
  content: "";
}
.payme-item + .payme-item {
  margin-left: 8px;
}
.payme-text {
  margin: 0px;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  color: #fff;
}
.modal-label {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  color: #ffffff;
  margin-bottom: 8px;
}
.modal-inp {
  width: 100%;
  display: block;
  padding: 14px;
  background-color: #2d303e;
  border: 1px solid #393c49;
  border-radius: 8px;
  outline: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #e0e6e9;
}
.form-content {
  margin-top: 16px;
}
.date-box {
  display: flex;
  padding-bottom: 16px;
  border-bottom: 1px solid #393c49;
}
.hero-date {
  width: 170px;
  margin-right: 13px;
}
.sel-box {
  display: flex;
}
.modal-sel {
  border: none;
  width: 170px;
  padding: 14px;
  margin-right: 13px;
  background-color: #1f1d2b;
  border: 1px solid #393c49;
  border-radius: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  color: #e0e6e9;
}
.modalbtn-box {
  margin-top: 30px;
}
.modal-btn {
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  color: #fafafa;
  border: none;
  padding: 14px 34px;
  background-color: #ea7c69;
  box-shadow: 0px 8px 24px #ea7c6966;
  border-radius: 8px;
  outline: none;
}
.exit-btn {
  margin-right: 10px;
  padding: 14px 64px;
  border: 1px solid #ea7c69;
  border-radius: 8px;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  color: #ea7c69;
  outline: none;
}
