.sidebar__list {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  height: 100vh;
  margin: 0;
  padding: 14px 0;
  list-style: none;
  width: 104px;
  background: #1f1d2b;
  border-radius: 0 16px 16px 0;
}

.active {
  position: relative;
  padding: 13px 25px 11px 12px;
  margin-left: 40px;
  background: #252836;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  width: 100%;
  transition: 0.2s ease;
}

.sidebar__list__item:first-child img {
  width: 35px !important;
}

.sidebar__list__item:last-child {
  margin-top: auto;
  display: block;
}

.ittemms {
  position: relative;
  padding: 10px 0;
}
.active .top-box {
  position: absolute;
  top: -20px;
  left: 64px;
  width: 20px;
  height: 20px;
  background: #252836;
  transition: 0.2s ease;
}
.active .top {
  width: 20px;
  height: 20px;
  position: absolute;
  z-index: 10;
  background: #1f1d2bff;
  border-bottom-right-radius: 15px;
  transition: 0.2s ease;
}

.active .bottom-box {
  position: absolute;
  top: 72px;
  left: 64px;
  width: 20px;
  height: 20px;
  background: #252836;
  transition: 0.2s ease;
}
.active .bottom {
  width: 20px;
  height: 20px;
  position: absolute;
  z-index: 10;
  background: #1f1d2bff;
  border-top-right-radius: 15px;
  transition: 0.2s ease;
}

.active .sidebar__list__item:first-child {
  padding: 0;
  background-color: transparent;
  margin: 0;
  padding: 0;
}

.active .icon {
  color: #fff;
}
.active .icon-box {
  width: 56px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ea7c69;
  box-shadow: 0px 8px 24px #ea7c6952;
  border-radius: 8px;
  /* padding: 16px; */
}
.icon {
  color: #ea7c69;
}
.bottom-box {
  margin-top: 7px;
}
