/* res  */
/* res__discount */
/* res__discountRes */
/* res__total */
/* res__totalRes */
/* res__btn */

.res__discount {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #abbbc2;
  margin-bottom: 20px;
}

.res__discountRes {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: right;
  color: #ffffff;
}

.res__total {
  display: flex;
  justify-content: space-between;
  margin-bottom: 45px;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #abbbc2;
}

.res__totalRes {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: right;
  color: #ffffff;
}

.res__btn {
  width: 361px;
  background: #ea7c69;
  box-shadow: 0px 8px 24px rgba(234, 124, 105, 0.3);
  border-radius: 8px;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  color: #fafafa;
  padding: 14px;
  border: none;
}
